
<a href="#search/by-author/A/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">A</a>
<a href="#search/by-author/B/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">B</a>
<a href="#search/by-author/C/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">C</a>
<a href="#search/by-author/D/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">D</a>
<a href="#search/by-author/E/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">E</a>
<a href="#search/by-author/F/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">F</a>
<a href="#search/by-author/G/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">G</a>
<a href="#search/by-author/H/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">H</a>
<a href="#search/by-author/I/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">I</a>
<a href="#search/by-author/J/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">J</a>
<a href="#search/by-author/K/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">K</a>
<a href="#search/by-author/L/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">L</a>
<a href="#search/by-author/M/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">M</a>
<a href="#search/by-author/N/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">N</a>
<a href="#search/by-author/O/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">O</a>
<a href="#search/by-author/P/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">P</a>
<a href="#search/by-author/Q/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">Q</a>
<a href="#search/by-author/R/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">R</a>
<a href="#search/by-author/S/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">S</a>
<a href="#search/by-author/T/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">T</a>
<a href="#search/by-author/U/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">U</a>
<a href="#search/by-author/V/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">V</a>
<a href="#search/by-author/W/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">W</a>
<a href="#search/by-author/X/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">X</a>
<a href="#search/by-author/Y/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">Y</a>
<a href="#search/by-author/Z/<%= conference.baseUri%>" data-role="button" data-theme="b" data-shadow="true" data-inline="true" data-tiny="true">Z</a>

