<article id="eventSearch">	
	<section class="content">
		<a href="#events" data-role="button" data-icon="arrow-r" data-iconpos="right" class="button"><%= labels.search.searchByName %></a>
		<a href="#persons"  data-role="button" data-icon="arrow-r" data-iconpos="right" class="button"><%= labels.search.searchByPerson %></a>
		<a href="#categories"  data-role="button" data-icon="arrow-r" data-iconpos="right" class="button"><%= labels.search.searchByCategory %></a>
		<a href="#topics"  data-role="button" data-icon="arrow-r" data-iconpos="right" class="button"><%= labels.search.searchByTopic %></a>
		<a href="#locations"  data-role="button" data-icon="arrow-r" data-iconpos="right" class="button"><%= labels.search.searchByLocation %></a>
	</section>
</article>