<article id="eventSearch">	
	<section class="content">
		<a href="#events" data-role="button" data-icon="arrow-r" data-iconpos="right" class="button">Search by name</a>
		<a href="#persons"  data-role="button" data-icon="arrow-r" data-iconpos="right" class="button">Search by person</a>
		<a href="#categories"  data-role="button" data-icon="arrow-r" data-iconpos="right" class="button">Search by category</a>
		<a href="#topics"  data-role="button" data-icon="arrow-r" data-iconpos="right" class="button">Search by topic</a>
		<a href="#locations"  data-role="button" data-icon="arrow-r" data-iconpos="right" class="button">Search by location</a>
	</section>
</article>