<article id="home">	
	<section class="content">
		<a href="#search/by-theme/<%= conference.baseUri %>" data-role="button" data-icon="arrow-r" data-iconpos="right" class="button">Search by theme</a>
		<a href="#search/by-category/<%= conference.baseUri %>"  data-role="button" data-icon="arrow-r" data-iconpos="right" class="button">Search by category</a>
		<a href="#search/by-speaker/<%= conference.baseUri %>"  data-role="button" data-icon="arrow-r" data-iconpos="right" class="button">Search by speaker</a>
	</section>
</article>
