<nav data-role="navbar" class="ui-navbar ui-navbar-noicons" role="navigation" id="navBar" data-theme="a">
	<ul>
		<li><a href="#schedule/" data-theme="a"><i class="fa fa-calendar"></i>SCHEDULE</a></li> 
		<li><a href="#search/person" data-theme="a"><i class="fa fa-male"></i>PERSONS</a></li>		
		<li><a href="#search/publication" data-theme="a"><i class="fa fa-book"></i>PUBLICATIONS</a></li>  
		<li><a href="#search/organization" data-theme="a"><i class="fa fa-users"></i>ORGANIZATIONS</a></li>  
	</ul>
</nav> 
